---
import "@fontsource/red-hat-text/400.css";
import "@fontsource/red-hat-text/600.css";
import "@fontsource/red-hat-text/700.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Frontend Mentor | Product List with Cart</title>
  </head>
  <body class="font-red-hat h-full w-full bg-antique-rose-50">
    <slot />
  </body>
</html>
